body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
}

li {
    padding: 0 16px;
}

.header, .main {
    background-color: #1F2937;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a, .hero-secondary, .hero-image, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    flex-wrap: wrap;
    max-width: 450px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-image {
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex-shrink: 0;
}

.main-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    margin: 8px 0;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 36px 0;
}

.image-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0 24px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.caption {
    text-align: center;
    margin: 8px 0;
}

.quote {
    background-color: #E5E7EB;
    padding: 64px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.quote-message {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    margin-left: auto;
}

.call-to-action {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.signup {
    width: 800px;
    height: 100px;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signup-header {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

.signup-content {
    color: #F9FAF8;
}

.signup-button {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;;
    padding: 8px 16px;
    border-radius: 12px;
    margin: 8px 0;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 24px;
}